@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

@media (max-width: 767px) {
  .glitchButton {
    display: none !important;
  }
}

.glitchButton {
  position: fixed !important;
  top: 15px;
  right: 15px;
}

html,
body {
  font-family: "Comfortaa", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  background-color: #fff;
  color: #333;
}

h1,
h3,
h6 {
  margin: 0;
}

h1 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

.header {
  padding: 15px 0;
  background-color: #146fbe;
  color: #fff;
  box-shadow: 0 8px 6px -6px #999;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
}

.header h1 {
  margin: 0;
  padding: 0;
}

.sub-header {
  color: #146fbe;
}

.strike {
  text-decoration: line-through;
}

textarea.form-control,
textarea.form-control[readonly] {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  color: #146fbe;
  outline: 0;
  resize: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

textarea.form-control.not-allowed,
.btn-primary:disabled {
  cursor: not-allowed;
}

a,
a:hover {
  color: #146fbe;
  cursor: pointer;
}

footer {
  font-size: 12px;
}
